<h2>Create Account</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="create-username">Create New Username</label>
    <input class="form-input" type="text" name="create-username" id="create-username" />
  </div>
  <div class="form-group">
    <label for="create-password">Create New Password</label>
    <input class="form-input" type="password" name="create-password" id="create-password" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Account</button>
  </div>
  <div>
    <a href="../views/login.handlebars">Back to Login</a>
  </div>
</form>

<script src="../public/js/create.js"></script>
