<header id="myPostDetail">
    <h2>Blog Post 1</h2>
    <p>Posted on ${date}</p>
</header>

<div id="postContent">
    <p>Blog Post Content</p>
</div>
<button>Edit Post</button>
<button>Delete Post</button>

<script src="../public/js/myPostDetail.js"></script>