<div id="blogDetails">
  <header>
    <h2>Blog Post Title</h2>
    <p>Posted by ${username} on ${date}</p>
  </header>
  <main>
    <p>Blog content</p>
  </main>
</div>

<div id="userComment">
  <h3>${username} commented on ${date}</h3>
  <p>Comment content</p>
</div>

<form id="commentPost">
  <textarea name="commentPost" form="commentPost">Enter text here</textarea>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Post Comment</button>
  </div>
</form>