<div class="card col-8 border-dark mb-3 mx-auto">
<h2 class="row justify-content-between p-3" id="cardHead">Create Account</h2>

<form class="form login-form mx-3">
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="create-username" id="create-username" />
    <label for="create-username">Create New Username</label>
  </div>
  <div class="form-floating">
    <input class="form-control" type="password" name="create-password" id="create-password" />
    <label for="create-password">Create New Password</label>
  </div>
  <div class="form-group">
    <button class="btn btn-secondary btn-sm my-2" type="click" id="signup">Create Account</button>
  </div>
  <div>
    <a href="../login">Back to Login</a>
  </div>
</form>
</div>

<script src="/js/createAcct.js"></script>