<div id="blogPosts">
  {{#each blogs as |blog|}}
  <header>
    <h3>{{blog.title}}</h3>
    <p>Posted by {{blog.user.username}} on {{blog.date}}</p>
  </header>
  <main>
    <p>{{blog.content}}</p>
  </main>
  {{/each}}
</div>
