<header id="myPostDetail">
  <h3>{{blog.title}}</h3>
  <p>Posted on {{blog.date}}</p>
</header>

<div id="postContent">
  <p>{{blog.content}}</p>
</div>
<button>Edit Post</button>
<button>Delete Post</button>

<script src="../public/js/myPostDetail.js"></script>