<h2>Create New Post</h2>

<form id="newBlogPost">
  <div class="form-group">
    <label for="titlePost">Title</label>
    <input class="form-input" type="text" name="titlePost" id="titlePost" />
  </div>
  <textarea name="contentPost" form="newBlogPost" id="blogContent">Enter text here</textarea>
  <div class="form-group">
    <button class="btn btn-primary" type="click" id="postBlog">Post Blog</button>
  </div>
</form>

<script src="/js/newPost.js"></script>